.testimonial-item {
  position: relative;
}

.testimonial-image-container {
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
}

.testimonial-image-wrapper {
  width: 100px; /* Adjust the width as needed */
  height: 100px; /* Adjust the height as needed */
  border-radius: 50%;
  overflow: hidden;
}

.testimonial-content {
  margin-top: 50px; /* Adjust the margin as needed */
}
