@tailwind base;
@tailwind components;
@tailwind utilities;

.add-class-input {
  @apply border-2 border-yellow-500 block outline-none hover:outline-[#848C2F] rounded-md ring-offset-1 ring ring-yellow-400 mt-2 px-2;
}

.section-title {
  @apply text-4xl font-bold italic uppercase text-transparent bg-clip-text bg-gradient-to-r from-[#FCC044] via-red-300 to-yellow-500;
}

.drawer-side a {
  background-color: transparent;
  @apply text-gray-100;
}

.drawer-side a.active {
  color: #fcc044 !important;
  background: transparent;
}
.my-nav a {
  background-color: transparent;
  font-weight: 600;
}

.my-nav a.active {
  color: #fcc044 !important;
}
